.avatar {
  background-size: cover;
}

.noImage {
  background-image: url("../../../assets/user.svg");
}

.noti-card {
  margin-bottom: 14px;
  padding-bottom: 0;
}

.time {
  font-size: 13px;
  font-style: italic;
  margin-bottom: 10px !important;
}

.noti-title {
  font-size: 16px;
}
