textarea {
  height: 100px;
  resize: none !important;
}

.col-12 {
  padding: 5px 10px;
}

.upload {
  margin-top: 20px;
  margin-bottom: 45px;
  cursor: pointer !important;
}

.upload label {
  margin: 0;
}

.upload * {
  cursor: pointer !important;
}
