<div class="container-fluid">
  <div>
    <button class="close" (click)="close()">
      <mat-icon>clear</mat-icon>
    </button>
    <h4 class="text-center">Update Password</h4>
    <br />
  </div>
  <div class="row">
    <form
      class="col-12"
      [formGroup]="passwordForm"
      (ngSubmit)="onSubmit()"
      novalidate
    >
      <mat-form-field class="col-md-12" appearance="outline">
        <mat-label>Old Password</mat-label>
        <input
          matInput
          placeholder="Enter your old password"
          name="old_password"
          formControlName="old_password"
          type="password"
          required
        />
        <mat-error *ngIf="passwordForm.controls['old_password'].invalid"
          >Old password is required</mat-error
        >
      </mat-form-field>
      <mat-form-field class="col-md-12" appearance="outline">
        <mat-label>New Password</mat-label>
        <input
          matInput
          placeholder="Enter your new password"
          name="new_password"
          formControlName="new_password"
          type="password"
          required
        />
        <mat-error *ngIf="passwordForm.controls['new_password'].invalid"
          >New password is required</mat-error
        >
      </mat-form-field>
      <mat-form-field class="col-md-12" appearance="outline">
        <mat-label>Confirm New Password</mat-label>
        <input
          matInput
          placeholder="Enter your new password again"
          name="confirm_password"
          formControlName="confirm_password"
          type="password"
          required
        />
        <mat-error *ngIf="passwordForm.controls['confirm_password'].invalid"
          >Confirm new password is required</mat-error
        >
      </mat-form-field>
      <br />
      <mat-card-actions>
        <button
          mat-raised-button
          (click)="close()"
          type="button"
          class="btn-danger btn-lg float-left"
        >
          Cancel
        </button>
        <button
          [disabled]="passwordForm.invalid"
          mat-raised-button
          class="btn-primary btn-lg float-right"
        >
          Update Password
        </button>
      </mat-card-actions>
    </form>
  </div>
</div>
